<div class="container"  >
  <form  >
    <div class="mb-3"  >
      <h3> Add Products to Purchase </h3>
      <div class="form-group" >
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" value="{{products.productName}}" />
      </div>

      <div class="form-group">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" value="{{products.price}}"/>
      </div>

      <div class="form-group">
        <label for="condition" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" value="{{products.description}}" />
      </div>
      <div class="form-group">
        <label for="condition" class="form-label">Add Price</label>
        <input type="text" class="form-control" id="addPrice" />

    </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
