<div class="container">
<form  >
  <div class="mb-3">
    <h3> Add Products to sell</h3>
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" />
    </div>

    <div class="form-group">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price" />
    </div>

    <div class="form-group">
      <label for="condition" class="form-label">Description</label>
      <input type="text" class="form-control" id="condition" placeholder="Description" formControlName="condition" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
