<div class="container">
 <div class="col-lg-9">
      <div class="row">
        <div class="col-12 col-md-4">
          <!-- <div class="thumbnail">
            <img src="" width="250" height="300" />
          </div> -->
          </div>

          <div class="col-12 col-md-4">
            <h3>{{product.productName}}</h3>
            <hr/>
            <p>{{product.description}}</p>
            <hr/>
            <h4>{{product.price}}</h4>
            <hr/>
            <!-- <h6>Available</h6> -->
            <hr/>
<a routerLink ="/home"class="btn btn-success">
  <i class="fa fa-arrow-left"></i>Back</a>

  <button class="btn btn-primary ml-1">
    <i class="fa fa-gavel"></i>Bid
  </button>

          </div>
        </div>
      </div>



    </div>








